body {
    background-image: url(Foto.jpg);
    background-size: 100% 100%;
    margin:auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    font-family: tahoma;
    font-weight: bold;
    height: 70px;
    width: 100%;
    background: black;
    border-radius: 5px;
    font-size: 18px;
}

Label {
    font-family: Cosmic sans ms;
    font-size: 20pt;
    color:white;
    margin:10px;
    padding:5px;
    float: left;
}
.menu ul{
    margin: 0px;
    padding: 5px;
    background: none;
    display: block;
    float: right;    
}

.menu ul li{
    list-style: none;
    display: inline-block;

}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: yellow;
}

.menu ul li a:hover{
    display: block;
    color: green;
    background:#222;
    box-shadow: inset 0px 0px 5px #000;
}

.menu ul li .dropdown {
    display: none;
}

.menu ul li .dropdown{
    display: none;

}

.menu ul li:hover .dropdown{
    display: block;
    background: black;
    position: absolute;
    padding: 10px;

}

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .banner{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;  
    top: 45%;
    left: 28%;
    position: absolute;
    z-index: 2;
}
.banner h2{
    color:white;
   position: relative;
   z-index: 1;
   
}

.banner:after{
    content:'';
    background-color:rgba(20, 143, 119, 6);
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    opacity: 70%;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }