body {
    background-image: url(Foto.jpg);
    background-size: 100% 100%;
    margin:auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.menu {
    font-family: tahoma;
    font-weight: bold;
    height: 70px;
    width: 100%;
    background: black;
    border-radius: 5px;
    font-size: 18px;
}

Label {
    font-family: Cosmic sans ms;
    font-size: 20pt;
    color:white;
    margin:10px;
    padding:5px;
    float: left;
}
.menu ul{
    margin: 0px;
    padding: 5px;
    background: none;
    display: block;
    float: right;    
}

.menu ul li{
    list-style: none;
    display: inline-block;

}

.menu ul li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: yellow;
}

.menu ul li a:hover{
    display: block;
    color: green;
    background:#222;
    box-shadow: inset 0px 0px 5px #000;
}

.menu ul li .dropdown {
    display: none;
}

.menu ul li .dropdown{
    display: none;

}

.menu ul li:hover .dropdown{
    display: block;
    background: black;
    position: absolute;
    padding: 10px;

}

footer {
    text-align: center;
    padding: 3px;
    background-color: grey;
    color: white;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
 